body {
	font-family: "Roboto Condensed", sans-serif;
}
/**
 * INDEX
 */
#tx-ecompc-canvas div.clearfix {
	clear: both;
}

#tx-ecompc-canvas a {
	text-decoration: none;
}

#tx-ecompc-canvas .ecompc-syntax-help {
	padding: 0 2px;
}

#tx-ecompc-canvas .ecompc-syntax-help[title]:hover {
	background-color: #ffff00;
	cursor: help;
}

/**
 * Package Boxes => index action
 */

#tx-ecompc-canvas .ecom-configurator-process-number {
	color: #0083cb;
	font-size: 1.3em;
}

#tx-ecompc-canvas .ecom-configurator-package-box {
	display: block;
	margin-bottom: 3px;
	position: relative;
}
#tx-ecompc-canvas .ecom-configurator-package-select,
#tx-ecompc-canvas .ecom-configurator-package-state {
	background: #edefee; /* Old browsers */
	background: -moz-linear-gradient(top,  #edefee 0%, #dce3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edefee), color-stop(100%,#dce3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #edefee 0%,#dce3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefee', endColorstr='#dce3e3',GradientType=0 ); /* IE6-9 */
	min-height: 50px;
}

#tx-ecompc-canvas .ecom-configurator-package-box.active-package:hover .ecom-configurator-package-select,
#tx-ecompc-canvas .ecom-configurator-package-box.active-package:hover .ecom-configurator-package-state {
	background: linear-gradient(to bottom, #0083CB, #0075C2) repeat scroll 0% 0% transparent;
}

#tx-ecompc-canvas .ecom-configurator-package-select {
	margin-left: 83px;
	padding: 10px 15px;
}

#tx-ecompc-canvas .ecom-configurator-package-select > span.tx-ecompc-configure-package-label {
	font-size: 1.3em;
	color: black;
	font-weight: bold;
}

#tx-ecompc-canvas .ecom-configurator-package-select > span.ecom-configurator-package-addon {
	color: grey;
	display: block;
}

#tx-ecompc-canvas .ecom-configurator-package-box.active-package:hover .ecom-configurator-package-select > span.tx-ecompc-configure-package-label,
#tx-ecompc-canvas .ecom-configurator-package-box.active-package:hover .ecom-configurator-package-select > span.ecom-configurator-package-addon {
	color: white;
}

#tx-ecompc-canvas .ecom-configurator-arrow-right {
	background: url('../Images/blue_arrow_right.png') no-repeat;
	height: 11px;
	width: 9px;
	position: absolute;
	right: 20px;
	top: 42%;
}

#tx-ecompc-canvas .ecom-configurator-package-box.active-package:hover .ecom-configurator-arrow-right {
	background: url('../Images/white_arrow_right.png') no-repeat;
}

#tx-ecompc-canvas .ecom-configurator-package-state {
	height: 50px;
	width: 80px;
	float: left;
}

#tx-ecompc-canvas .ecom-configurator-package-state.checked {
	background: grey;
}

/**
 * @action selectPackageOptions
 */
#tx-ecompc-canvas .ecom-configurator-select-package-option,
#tx-ecompc-canvas .ecom-configurator-select-package-option.option {
	background-color: #ffffff;
	display: block;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
}

#tx-ecompc-canvas .ecom-configurator-select-package-option.option {
	margin-left: 45px;
	padding: 0 10px;
}

#tx-ecompc-canvas .ecom-configurator-select-package-option.option,
#tx-ecompc-canvas .ecom-configurator-checkbox {
	background: #edefee; /* Old browsers */
	background: -moz-linear-gradient(top,  #edefee 0%, #dce3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edefee), color-stop(100%,#dce3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #edefee 0%,#dce3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #edefee 0%,#dce3e3 100%); /* W3C */
	border-bottom: 1px solid #cdd9d8;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefee', endColorstr='#dce3e3',GradientType=0 ); /* IE6-9 */
}

#tx-ecompc-canvas .ecom-configurator-select-package-option.option:hover,
#tx-ecompc-canvas .ecom-configurator-checkbox:hover {
	background: #2189cc; /* Old browsers */
	background: -moz-linear-gradient(top,  #2189cc 0%, #1c7cc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2189cc), color-stop(100%,#1c7cc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2189cc 0%,#1c7cc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2189cc 0%,#1c7cc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2189cc 0%,#1c7cc4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2189cc 0%,#1c7cc4 100%); /* W3C */
	border-bottom: 1px solid #3687c6;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2189cc', endColorstr='#1c7cc4',GradientType=0 ); /* IE6-9 */
}

#tx-ecompc-canvas .ecom-configurator-checkbox {
	border: 4px solid #cccccc;
	display: block;
	float: left;
	height: 32px;
	margin-right: 5px;
	overflow: hidden;
	width: 32px;
}

#tx-ecompc-canvas .ecom-configurator-checkbox.checked {
	background: #006600;
}

#tx-ecompc-canvas .ecom-configurator-reset-button {

}





/* Styling an indeterminate progress bar */

#tx-ecompc-canvas progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/**
 * PROGRESS styles
 */
#tx-ecompc-canvas progress[value] {
	appearance: none;
	background-color: #f3f3f3;
	border: none;
	/*box-shadow: 1px 1px 25px #c0c0c0;*/
	color: #0083cb;
	height: 5px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

/* Fallback technique styles */
#tx-ecompc-canvas .progress-bar {
	background-color: transparent;
	height: 5px;
	overflow: hidden;
	position: fixed;
	width: 500px;
}

#tx-ecompc-canvas .progress-bar span {
	background-color: #0083cb;
	display: block;
	text-indent: -9999px;
}