<f:layout name="Blank" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<div class="ecom-configurator-result">
		<f:if condition="{configurationResultLabel}">{configurationResultLabel}<br /></f:if>
		<h2>
			<f:translate id="index.your_configuration_code" /><br />
			<small>{configurationResult -> f:format.raw()}</small>
		</h2>
		<a href="#" class="action-button-default ecom-configurator-result-review-config dropdown" title="{f:translate(id:'index.summary_button_title')}"><f:translate id="index.summary_button" /></a>
		<f:link.action action="request" controller="Standard" noCacheHash="1" additionalParams="{L:'{sys_language_uid}'}" class="action-button-default" target="{settings.requestForm.target}"><f:translate id="index.request_your_device" /></f:link.action>
	</div>
	<div class="ecom-configurator-summary-table">
		{configurationSummary -> f:format.html()}
	</div>

</f:section>