<f:if condition="{settings.viewHeader}">
	<div class="ecom-configurator-configurator-head">
		<div class="ecom-configurator-config-header-instructions" id="ecom-configurator-ajax-header-instructions">{instructions -> f:format.html()}</div>
		<f:if condition="{pricingEnabled}">
			<div class="ecom-configurator-config-header-price-table">
				<table>
					<thead>
					<tr class="align-center">
						<td><f:translate id="index.header.base_price" /></td>
						<td><f:translate id="index.header.config_price" /></td>
					</tr>
					</thead>
					<tbody>
					<tr class="align-center">
						<f:if condition="{pricing.0}">
							<f:then><td><f:s3b0.financial.currency currency="{currency}" signed="0" usFormat="{settings.usFormat}">{pricing.0}</f:s3b0.financial.currency></td></f:then>
							<f:else><td>-</td></f:else>
						</f:if>
						<f:if condition="{pricing.1}">
							<f:then><td><span id="ecom-configurator-config-header-config-price"><f:s3b0.financial.currency currency="{currency}" signed="0" usFormat="{settings.usFormat}">{pricing.1}</f:s3b0.financial.currency></span></td></f:then>
							<f:else><td><span id="ecom-configurator-config-header-config-price">-</span></td></f:else>
						</f:if>
					</tr>
					</tbody>
				</table>
			</div>
		</f:if>
		<div class="clearfix" style="clear: both;"></div>
	</div>
</f:if>