<table class="ecom-configurator-resolve-table-config">
	<f:groupedFor each="{options}" as="packageOptions" groupBy="configurationPackage" groupKey="package">
		<tr>
			<td>{package.frontendLabel}:</td><td><ul>
			<f:for each="{packageOptions}" as="option">
				<f:alias map="{lb : option.frontendLabel, cs : option.configurationCodeSegment, cd : option.configurationCodeSegmentSet}">
					<li>{lb}{f:if(condition : '{cd}', then : ' [{cs}]')}</li>
				</f:alias>
			</f:for>
		</ul></td>
		</tr>
	</f:groupedFor>
</table>