<f:if condition="{sp}">
	<span class="ecom-configurator-select-package-option-price"><f:s3b0.financial.currency currencySign="{currencySetup.symbol}" prependCurrency="{currencySetup.prependCurrency}">{option.priceOutput}</f:s3b0.financial.currency>
		<f:if condition="option.configurationPackage.selectedOptions">
			( <!--<abbr title="{f:translate(id:'optionlist.unit_price')}"><f:translate id="optionlist.unit_price.abbr" /></abbr>--> <f:format.currency currencySign="{currencySetup.symbol}" prependCurrency="{currencySetup.prependCurrency}">{option.unitPrice}</f:format.currency><f:if condition="{option.configurationPackage.percentPricing}"> <span style="font-family: 'Lucida Sans Unicode', Arial, sans-serif">≙</span> {f:s3b0.calculation(expressionString:'{option.pricePercental}*100')}% )</f:if> )
		</f:if>
	</span>
</f:if>
<f:if condition="{option.hintText}">
	<div class="ecom-configurator-select-package-option-info-wrapper">
		<span class="ecom-configurator-select-package-option-info"><f:translate id="optionlist.more_info" /></span>
	</div>
</f:if>
<div class="ecom-configurator-checkbox {f:if(condition:'{option.selected}',then:'checked',else:'unchecked')}"><span class="ecom-configurator-option-checkbox-image"></span></div>
<span class="ecom-configurator-select-package-option option">{option.frontendLabel} {f:if(condition:'{0:\'{option.configurationCodeSegment}\'} != {0:\'\'}',then:'[{option.configurationCodeSegment}]')}</span>