<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<noscript><div class="typo3-messages"><div class="typo3-message message-error">ATTENTION: JavaScript needs to be enabled!</div></div></noscript>

	<div class="tx-ecompc-index">
		<progress value="{process}" max="1" id="ecom-configurator-process-value">
			<div class="progress-bar">
				<span><span class="ecom-configurator-process-value-print"><f:format.number decimals="0">{f:s3b0.calculation(expressionString:'{process}*100')}</f:format.number></span>%</span>
			</div>
		</progress>

		<p class="ecom-configurator-process-number"><span class="ecom-configurator-process-value-print"><f:format.number decimals="0">{f:s3b0.calculation(expressionString:'{process}*100')}</f:format.number></span><f:translate id="index.x_percent_done" /></p>

		<div id="tx-ecompc-package-select-index">
			<f:for each="{packages}" as="package" iteration="packageIterator">

				<f:if condition="{package.visibleInFrontend}">
					<a href="" data-pckg-state="{package.active -> f:format.number(decimals: 0)}" data-cObj="{cObj}" data-package="{package.uid}" data-page="{pid}" data-lang="{sys_language_uid -> f:format.number(decimals:0)}" class="ecom-configurator-package-box {f:if(condition:package.inactive,then:'in')}active-package" id="tx-ecompc-configure-package-{package.uid}" tabindex="{packageIterator.cycle}">
						<f:render partial="Package/LinkInnerHMTL" arguments="{package : package, currency : currency, showPriceLabels : showPriceLabels}"/>
					</a>
				</f:if>

			</f:for>
			<f:link.action action="reset" noCacheHash="1" class="ecom-configurator-reset-button"><f:translate id="index.reset_configuration" /></f:link.action>
		</div>
		<div id="tx-ecompc-package-select-option-index"></div>
	</div>

	<div class="divider"></div>

	<div id="ecom-configurator-result-canvas">
		<f:if condition="{configurationResult}">
				<div class="ecom-configurator-result">
				<f:if condition="{configurationResultLabel}">{configurationResultLabel}<br /></f:if>
				<h2>
					<f:translate id="index.your_configuration_code" /><br />
					<small>{configurationResult -> f:format.raw()}</small>
				</h2>
				<a href="#" class="action-button-default ecom-configurator-result-review-config dropdown" title="{f:translate(id:'index.summary_button_title')}"><f:translate id="index.summary_button" /></a>
				<f:link.action action="request" controller="Standard" noCacheHash="1" additionalParams="{L:sys_language_uid}" class="action-button-default" target="{settings.requestForm.target}"><f:translate id="index.request_your_device" /></f:link.action>
			</div>
			<div class="ecom-configurator-summary-table">
				{configurationSummary -> f:format.html()}
			</div>
		</f:if>
	</div>


	<script language="JavaScript" type="text/javascript">var tcp = {packages -> f:count()};</script>

</f:section>