<!--
	TODO: Add process bar using {process}-var
-->
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages renderMode="div" />

<div class="tx-ecompc-index">
	<progress value="{process}" max="1">
		<div class="progress-bar">
			<span style="width: {f:s3b0.calculation(expressionString:'{process}*100') -> f:format.number(decimals:0)}%"><f:format.number decimals="0">{f:s3b0.calculation(expressionString:'{process}*100')}</f:format.number>%</span>
		</div>
	</progress>

	<p><span class="ecom-configurator-process-number"><f:format.number decimals="0">{f:s3b0.calculation(expressionString:'{process}*100')}</f:format.number>%</span> done</p>
	<f:for each="{packages}" as="package">
		<f:if condition="{package.visibleInFrontend}">
			<div class="ecom-configurator-package-box">
				<f:link.action action="selectPackageOptions" arguments="{package : package}" class="ecom-configurator-arrow-right">&nbsp;</f:link.action>
				<div class="ecom-configurator-package-state {f:if(condition:package.selectedOptions,then:'checked',else:'unchecked')}">&nbsp;</div>
				<div class="ecom-configurator-package-select">
					<f:if condition="{package.active}">
						<f:then><f:link.action action="selectPackageOptions" arguments="{package : package}" class="tx-ecompc-configure-package" id="tx-ecompc-configure-package-{package.uid}"> {package.frontendLabel}</f:link.action></f:then>
						<f:else><span class="tx-ecompc-configure-package-inactive">{package.frontendLabel}</span></f:else>
					</f:if>
					<f:if condition="{package.selectedOptions}">
						<f:then><span class="ecom-configurator-package-addon ecom-configurator-package-your-choice">Your choice: <f:render partial="Package/ListSelectedOptions" arguments="{selected:package.selectedOptions}" /></span></f:then>
						<f:else><span class="ecom-configurator-package-addon ecom-configurator-package-prompt">{package.prompt}</span></f:else>
					</f:if>
				</div>
			</div>
		</f:if>
	</f:for>

</div>

<f:link.action action="reset" class="ecom-configurator-reset-button">Reset</f:link.action>

<f:if condition="{configurationResult}">
	<div class="ecom-configurator-result">
		<f:if condition="{configurationResultLabel}">{configurationResultLabel}<br /></f:if>
		Your configuration code: <strong>{configurationResult -> f:format.raw()}</strong>
		<br /><f:link.page pageUid="{settings.requestForm.pid}" target="{settings.requestForm.target}" additionalParams="{requestFormAdditionalParams}">c2a</f:link.page>
	</div>
</f:if>

</f:section>