
<f:layout name="Blank" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        SelectPackageOptions.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<h2>Please choose a region/currency</h2>

	<f:for each="{currencies}" as="currency">
		<f:link.action action="index" arguments="{currency: currency.key}" style="float: left; text-align: center;">
			<f:image src="{currency.flagIcon}" alt="{currency.region} - {currency.long}" width="200c" /><br />
			<f:translate id="{currency.llRef}" default="{currency.region}" /> ( {currency.symbol} )
		</f:link.action>
	</f:for>

	<div class="clearfix" style="clear: both;"></div>
	<p>&nbsp;</p>
	<aside><small><strong>Note:</strong> This is a one time selection! You won´t be able to return and switch currency.</small></aside>

</f:section>