
<f:layout name="Blank" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<div class="select-region-wrap">
		<h2><f:translate id="selectregion.choose_text" /></h2>
		<div class="select-region-currencies">
			<f:for each="{currencies}" as="currencyEntity">
				<f:link.page additionalParams="{currency:currencyEntity}" noCacheHash="1" class="select-region-choose-flag">
					<f:image src="{currencyEntity.flag.uid}" alt="{currencyEntity.region} - {currencyEntity.label}" width="200" treatIdAsReference="1" /><br />
					{currencyEntity.localLang} ( {currencyEntity.symbol} )
				</f:link.page>
			</f:for>
		</div>

	</div>

</f:section>