<f:layout name="Blank" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<f:security.ifHasRole role="{settings.resolverUserGroup}">
		<table class="ecom-configurator-resolve-list">
			<thead>
				<tr>
					<td>Product</td>
					<td>Configuration Code // SKU</td>
					<td>User</td>
					<td>Date<br />(when request has been initialized)</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<f:for each="{logs}" as="log">
					<f:render partial="Logger/Properties" arguments="{log : log, options : options, action : 'list', dateFormat : dateFormat}" />
				</f:for>
			</tbody>
		</table>
	</f:security.ifHasRole>

</f:section>